<!-- Header -->
<div
    class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-6 pb-22 dark"
    [ngStyle]="{'background-image':' url(' + (_userLoggedService.userLoggedState$ | async)?.datas?.userPreference.bannerUrl + ')'}"
    style="background-repeat:no-repeat; background-position: right;" >

    <div class="flex-1 min-w-0">
        <div class="text-4xl text-primary font-extrabold tracking-tight leading-none">Référentiel opération</div>
            <div class="flex items-center mt-0.5 font-medium text-gray-50">
                <ng-container>
                    <div class="flex items-center space-x-2">
                        <a *ngFor="let item of routerLink"
                            class="text-gray-100 cursor-pointer"
                            [routerLink]="['/apps/referential/operations/operation-type-family']">{{item}}
                        </a>
                        <!-- {{ (_asiService.state$ | async)?.datas.folders[0].label }} -->
                        <!-- <div>/ categorie opération </div> -->
                    </div>
                </ng-container>
            </div>
        <!-- <div>
            <div class="text-4xl text-primary font-extrabold tracking-tight leading-none">Comptes bancaires</div>
            <div class="flex items-center mt-0.5 font-medium text-gray-50"></div>
        </div> -->
    </div>

    <!-- Actions -->
    <div class="flex flex-shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

    </div>
</div>
