<ng-container
    ngxsForm="userDetail"
    [formGroup]="_profileService.form.formGroup"
    *ngIf="property">

    <fuse-card
        class="flex flex-col"
        [flippable]="true"
        #fuseCard>
        <ng-container fuseCardFront>
            <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                <div class="flex flex-col">
                    <span class="font-semibold leading-none text-primary">Localisation</span>
                    <span class="text-sm text-secondary leading-none mt-1"></span>
                </div>

                <button
                    class="ml-auto -mr-4"
                    mat-icon-button
                    matTooltip="Edition"
                    (click)="fuseCard.face = 'back'"
                >
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_outline:pencil-alt'"></mat-icon>
                </button>
            </div>

            <!--  -->
            <div class="flex items-center mx-6 pb-2">
                <mat-icon
                    class="icon-size-5 mr-3"
                    [svgIcon]="'heroicons_solid:location-marker'"
                    matTooltip="pseudonyme"></mat-icon>
                <span class="leading-none"> {{ getValue(property.gMapAddress.formattedAddress) }} </span>
            </div>

            <div class="flex items-center mx-6 pb-6">
                <agm-map style="height: 400px; width: 900px;"
                    mapTypeId = "hybrid"
                    [zoom]="15"
                    [latitude]="getValue(property.gMapAddress.lat)"
                    [longitude]="getValue(property.gMapAddress.lng)">
                    <agm-marker [latitude]="getValue(property.gMapAddress.lat)"
                                [longitude]="getValue(property.gMapAddress.lng)">
                    </agm-marker>
                </agm-map>
            </div>

        </ng-container>

        <ng-container fuseCardBack>
            <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                <div class="flex flex-col">
                    <span class="font-semibold leading-none">A propos de moi</span>
                    <span class="text-sm text-secondary leading-none mt-1">Edition</span>
                </div>
                <button
                    class="ml-auto -mr-4"
                    mat-icon-button
                    (click)="fuseCard.face = 'front'"
                >
                    <mat-icon
                        class="icon-size-5"
                        [svgIcon]="'heroicons_outline:arrow-left'"></mat-icon>
                </button>
            </div>
            <!-- <div class="mx-6 sm:mx-8 mt-2 mb-6">
                <ng-container *ngTemplateOutlet="tp_userName"></ng-container>
            </div> -->
            <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
            <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                <div class="flex items-center">
                    test
                </div>
                <div class="hidden sm:flex flex-auto"></div>
                <div class="flex items-center mt-4 sm:mt-0">
                    <!-- <button
                        class="px-3 mr-1 -ml-2 sm:ml-0"
                        mat-button>
                        4 shares
                    </button> -->
                    <button
                        class="px-3 sm:-mr-3"
                        mat-button>
                        Enregistrer
                    </button>
                </div>
            </div>
        </ng-container>
    </fuse-card>
    <!-- <fuse-card class="flex flex-col max-w-200 w-full p-6 sm:p-8 pb-6">
        <div class="text-xl font-semibold">Localisation</div>
        <div class="flex flex-col sm:flex-row items-start mt-8">
            <agm-map style="height:300px;width:600px;"
                mapTypeId = "hybrid"
                [zoom]="15"
                [latitude]="_profileService.getGmapAddressLatitudeValue()"
                [longitude]="_profileService.getGmapAddressLongitudeValue()">
                <agm-marker [latitude]="_profileService.getGmapAddressLatitudeValue()"
                            [longitude]="_profileService.getGmapAddressLongitudeValue()">
                </agm-marker>
            </agm-map>
        </div>
    </fuse-card> -->
</ng-container>

