<input
    id="avatar-file-input"
    class="absolute h-0 w-0 opacity-0 invisible pointer-events-none"
    type="file"
    [multiple]="false"
    [accept]="'.csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel'"
    (change)="uploadFile(avatarFileInput.files)"
    #avatarFileInput>
<label
    class="flex items-center justify-center w-10 h-10 rounded-full cursor-pointer hover:bg-hover"
    for="avatar-file-input"
    matRipple>
    <mat-icon
        class="text-white"
        [svgIcon]="'heroicons_outline:upload'"></mat-icon>
</label>
