<!-- [datasets]="widget.datasets"
[labels]="widget.labels"
[colors]="widget.colors"
[options]="widget.options"
[chartType]="widget.chartType"
(chartClick)="onSelect($event)" -->


<!-- [datasets]="baseChart.dataSets"
[labels]="baseChart.labels"
[options]="baseChartDirective.options" -->

<!-- [data]="barChartData" -->
<canvas
    #baseChart="base-chart"
    baseChart
    height="150px"
    width="200px"
    [data]="baseChartDirective.data"
    [options]="baseChartDirective.options"
    (chartClick)="onClick($event)"
    (chartHover)="onHovered($event)"
>
</canvas>
