
    <!-- [formGroup]="_planPosteForDetailService.form.formGroup"
    ngxsForm="planPosteDetail"
    *ngIf="_planPosteForDetailService.formIsLoaded as loaded" -->
<form
    class="mat-typography -m-6 overflow-x-hidden overflow-y-hidden"
    *ngIf="_planFollowUpAmountRealService.isStateLoaded" >
    <!-- Header -->
    <div class="flex flex-0 items-center justify-between h-16 pr-3 sm:pr-5 pl-6 sm:pl-8 bg-primary text-on-primary">
        <div class="text-lg font-medium">Montants réels: {{ label }}</div>
        <button
            mat-icon-button
            (click)="_matDialogRef.close()"
            [tabIndex]="-1">
            <mat-icon
                class="text-current"
                [svgIcon]="'heroicons_outline:x'"></mat-icon>
        </button>
    </div>

    <mat-dialog-content>
        <!-- <div class="xl:col-span-2 flex flex-col flex-auto bg-card shadow rounded-2xl overflow-hidden"> -->
            <!-- <div class="p-6">
                <div class="mr-4 text-lg font-medium tracking-tight leading-6 truncate">Recent transactions</div>
                <div class="text-secondary font-medium">1 pending, 4 completed</div>
            </div> -->
            <div class="overflow-x-auto mx-6">
                <table
                    class="w-full bg-transparent"
                    mat-table
                    matSort
                    [dataSource]="_planFollowUpAmountRealService.value"
                    [trackBy]="trackByFn"
                    #recentTransactionsTable>

                    <!-- Transaction ID -->
                    <ng-container matColumnDef="id">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            ID
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span
                                [matTooltip]="element.labelAs"
                                class="pr-6 font-medium text-sm text-secondary whitespace-nowrap">
                                {{element.id}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- operationMethod -->
                    <ng-container matColumnDef="operationMethod">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Méthode opération
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span class="pr-6 whitespace-nowrap">
                                {{element.operationMethod.label}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- operationTypeFamily -->
                    <ng-container matColumnDef="operationTypeFamily">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Catégorie opération
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span class="pr-6 whitespace-nowrap">
                                {{element.operationTypeFamily.label}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- operationTypeFamily -->
                    <ng-container matColumnDef="operationType">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Type opération
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span class="pr-6 whitespace-nowrap">
                                {{element.operationType.label}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- operation -->
                    <ng-container matColumnDef="operation">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Opération
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{element.operation.label}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- dateIntegration -->
                    <ng-container matColumnDef="dateIntegration">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Montant
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{element.dateIntegration | date: 'dd/MM/yyyy'}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- amountOperation -->
                    <ng-container matColumnDef="amountOperation">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Montant
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let element">
                            <span class="pr-6 font-medium whitespace-nowrap">
                                {{element.amountOperation}}
                            </span>
                        </td>
                    </ng-container>

                    <!-- Status -->
                    <!-- <ng-container matColumnDef="status">
                        <th
                            mat-header-cell
                            mat-sort-header
                            *matHeaderCellDef>
                            Status
                        </th>
                        <td
                            mat-cell
                            *matCellDef="let transaction">
                            <span
                                class="inline-flex items-center font-bold text-xs px-2.5 py-0.5 rounded-full tracking-wide uppercase"
                                [ngClass]="{'bg-red-200 text-red-800 dark:bg-red-600 dark:text-red-50': transaction.status === 'pending',
                                            'bg-green-200 text-green-800 dark:bg-green-600 dark:text-green-50': transaction.status === 'completed'}">
                                <span class="leading-relaxed whitespace-nowrap">{{transaction.status}}</span>
                            </span>
                        </td>
                    </ng-container> -->

                    <!-- Footer -->
                    <ng-container matColumnDef="recentOrdersTableFooter">
                        <td
                            class="py-6 px-0 border-0"
                            mat-footer-cell
                            *matFooterCellDef
                            colspan="6">
                            <button mat-stroked-button>See all transactions</button>
                        </td>
                    </ng-container>

                    <tr
                        mat-header-row
                        *matHeaderRowDef="tableColumns"></tr>
                    <tr
                        class="order-row h-10"
                        mat-row
                        *matRowDef="let row; columns: tableColumns;"></tr>
                    <tr
                        class="h-10 border-0"
                        mat-footer-row
                        *matFooterRowDef="['recentOrdersTableFooter']"></tr>
                </table>
            </div>
        <!-- </div> -->
    </mat-dialog-content>

    <mat-dialog-actions class="h-16 mr-2 mb-1" align="end">
        <!-- <ng-container *ngTemplateOutlet="tp_action"></ng-container> -->

        <!-- <ng-container *ngIf="_planPosteForDetailService.saveInProgress">
            <ng-container *ngTemplateOutlet="tp_action_in_progress"></ng-container>
        </ng-container>
        <ng-container *ngIf="!_planPosteForDetailService.saveInProgress">
            <ng-container *ngTemplateOutlet="tp_action"></ng-container>
        </ng-container> -->
    </mat-dialog-actions>







</form>
